<!DOCTYPE html>
<html lang="en" class="x-border-box x-strict">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - PV Mapper</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css", "~/Content/themes/base/css")
    @Styles.Render("~/Content/OpenLayers/default/style.css")
    <link rel="stylesheet" type="text/css" href="~/Content/themes/jquery.jgrowl.css" />
@*    <link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.1.0-gpl/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.1.0-gpl/examples/shared/example.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/extjs/resources/css/my-ext-theme.css" />
    @*<link rel="stylesheet" type="text/css"  href="~/theme/default/style.css" />*@
</head>
<body class="x-body x-reset">
    <header>
        <div class="content-wrapper">
            <div class="float-left" id="Logo">
                <a href="/">
                    <img src="~/Images/PVMapper_TopText.png" alt="PV Mapper Logo" />
                </a>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li><a href="/">Home</a></li>
                        <li><a href="http://pvmapper.org/contact-us.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">

        

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year - PV Mapper
                </p>
            </div>
        </div>
    </footer>
    @* @Scripts.Render("~/bundles/extjs")*@
    @*The bundler causes a StackOverflowException in v4 RC *@
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="~/Scripts/jQueryExtentions/jquery.jgrowl_minimized.js"></script>

    @*<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.1.0-gpl/ext-dev.js"></script>*@
    @*<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.1.0-gpl/ext-all.js"></script>*@
    <script type="text/javascript" charset="utf-8" src="/Scripts/ext-all.js"></script>

    <!-- definitely consider using a custom single-file version of OpenLayers -->
    @*<script type="text/javascript" src="http://openlayers.org/api/2.12-rc3/OpenLayers.js"></script>*@
    <script type="text/javascript" src="~/Scripts/OpenLayers.js"></script>

    <!-- These scripts would be loaded by Ext, but placing them here makes them easier to debug. -->
    <script type="text/javascript" src="~/Scripts/GeoExt/GeoExt.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
